

body {
	background: #008082;
	font-family: sans-serif, serif, monospace;
	font-size: 13px;
}

.wrapper, .content {
	width: 800px;
	margin: auto;
	margin-top: 20px;
	background: #bfb8bf;
	border: 2px solid;
	border-color: #fff8ff #000000 #000000 #fff8ff;
	padding: 2px 0;
	@@ -18,9 +38,10 @@ body {
	position: relative;

	h1 {
		color: #bfb8bf;
		font-size: 14px;
		font-weight: bold;
	}

	img {
	@@ -32,6 +53,7 @@ body {
}
.post_title {
	h1 {
		display: inline-block;
	}

	@@ -40,27 +62,30 @@ body {
	}

	.btn {
		background: #cccccc;
		width: 13px;
		height: 11px;
		float: right;
		border: 2px solid;
		border-color: #fff8ff #000000 #000000 #fff8ff;

		span {
			font-size: 11px;
			position: relative;
			left: 2px;
			top: -2px;
		}

		.fa-window-minimize {
			font-size: 10px;
			left: 1px;
		}

		.fa-window-maximize {
			font-size: 10px;
			left: 1px;
		}
	}
	@@ -88,6 +113,406 @@ ul.topbar {
		color: #000000;
	}
}
