---
@import "reset";
@import "main";

.default_title {
    background: #c0c0c0;
}



/* New CSS rule for the text box */
.post_content {
    overflow: auto;
    padding: 20px;
    box-sizing: border-box;
    word-wrap: break-word;
}
---
